# JS Dependencies from yarn workspace
/node_modules/
# Junit tst results and coverage consumed by CircleCI
/test-results/
/*/coverage/

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
